.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 12px;
}

.CharacterCard {
  position: relative;
  width: 171px;
  height: 200px;
  background-position: center;
  background-size: auto 100%;
  background: #DADADA;
}

.PartyHeader {
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #000000;
}
